/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* BASE STYLES */

html {
  font-size: 100%;
}

header {
  font-family: 'Times New Roman';
  font-weight: bold;
}


/* NAVIGATION */

nav {
  background-color: #be9195;
  position: absolute;
  width: 100%;
  top: 0;
  padding-bottom: 30px;
}

.top-logo {
  padding-left: 4%;
  padding-top: 10px;
  float: left;
}

ul.nav {
  list-style: none;
  float: right;
  padding-right: 2%;
}

.nav li {
  display: inline;
}

.nav li a {
  text-decoration: none;
  color: #f0e0bd;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  margin-right: 32px;
  padding-top: 35px;
}


.nav li a:hover {
  color: white;
}

.top-logo, .nav {
  vertical-align: middle;
  display: inline-block;
}

main {
  width: 80%;
  margin: 0 auto;
}

/* OFFICE HOURS */

aside.office-hours {
  float: right;
  padding-top: 50px;
  font-family: 'Libre Baskerville', serif;
  color: #8d3b42;
}

.office-hours-header {
  text-transform: uppercase;
  font-weight: bold;
}

.ctas {
  text-align: center;
  padding-top: 20px;
  font-family: 'copperplate', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.schedule-appt {
  padding-bottom: 23px;
  margin-bottom: 0;
}

.schedule-link {
  text-decoration: none;
  border: 2px solid #8d3b42;
  padding: 10px 15px 10px 15px;
}

.apply-link {
  text-decoration: none;
  border: 2px solid #8d3b42;
  padding: 10px 66px 10px 66px;
}

.ctas a {
  color: #8d3b42;
}

a.schedule-link:hover {
  color: white;
  background-color: #8d3b42;
}

a.apply-link:hover {
  color: white;
  background-color: #8d3b42;
}



/* HEADER CONTENT */

header .banner-img {
  background: url('../images/coconut-suite-apartments.png') no-repeat;
  padding-top: 50%;
  height: auto;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-position: bottom 100px;
}

.header-content {
  width: 70%;
  padding-top: 50px;
}

.header-text {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.subhead {
  font-family: 'Athelas', serif;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-top: .125rem;
}

.header-body {
  font-family: 'Athelas', serif;
  font-size: 1.07rem;
  padding-right: 100px;
  line-height: 24px;
  padding-top: 20px;
}


/* LIST OF AMENITIES */

.apartment-amenities {
  background-color: #faf5f2;
  position: absolute;
  width: 100%;
  height: 800px;
  left: 0;
  font-family: 'Times New Roman', serif;
  margin-top: 200px;
  color: #8d3b42;
  margin-top: 90px;
}

.amenities-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 20px;
}

ul.amenities-list {
  list-style: none;
}

ul .left-side {
  padding-top: 60px;
  padding-left: 10%;
  font-size: 26px;
  font-family: 'Athelas', serif;

}

ul .right-side {
  position: absolute;
  top: 19.1%;
  padding-left: 57%;
  font-size: 26px;
  font-family: 'Athelas', serif;
}



/* FOOTER */

footer {
  background-color: #8d3b42;
  width: 100%;
  clear: right;
  /*height: 210px;*/
  margin-top: 800px;
  position: absolute;

}

footer img {
  padding-top: 14px;
  padding-bottom: 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

.footer-left {
  float: left;
  padding-left: 4%;
}

footer ul li {
  display: inline;
  padding-right: 15px;
  box-sizing: border-box;
  font-family: 'Athelas', serif;
  letter-spacing: 1px;
  font-size: 16px;
}

.footer-left-content {
  padding-top: 15px;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer ul li a:hover {
  color: #f0e0bd;
}

.copyright {
  color: white;
  font-family: 'Athelas', serif;
  font-size: 15px;
}

.social-media {
  float: right;
  padding-right: 107px;
  padding-top: 40px;
}

.social-media h4 {
  font-family: 'copperplate', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
}

.social-icons {
  text-align: center;
}

.social-icons a img{
  padding: 1px 0 0 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/*============================================================================*/
/**** MOBILE STYLES ****/

@media screen and (max-width: 425px) {

/* NAVIGATION */

  nav {
    width: 100%;
    top: 0;
    padding-bottom: 30px;
    height: 91px;
  }

  a.top-logo {
    margin: 0 auto;
    display: block;
    text-align: center;
    float: none;
    padding-bottom: 20px;
    padding-left: 0;
  }

  ul.nav {
    float: none;
    display: inline;
    text-align: center;
    padding-right: 0;
    padding-left: 0;

  }

  .nav li {
    display: inline;

  }

  .nav li a {
    border: 2px solid white;
    color: white;
    font-size: 15px;
    display: block;
    margin-right: 0;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
  }


  .nav li a:hover {
    color: white;
  }

  .nav li a:hover {
    color: white;
    background-color: #f0e0bd;
  }


/* office hours */

  aside.office-hours {
    float: none;
    padding-top: 50px;
    padding-left: 0;
  }

  .office-hours-content {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    padding-top: 5px;
  }


  .ctas {
    float: none;
    display: block;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    margin-bottom: 0;
    padding-top: 300px;
  }

  .schedule-appt {
    padding-bottom: 0;
  }

  .schedule-link {
    display: block;
    text-align: center;
    left: 0;
  }

  .apply {
    margin-top: 0;
  }

  .apply-link {
    display: block;
    text-align: center;
    left: 0;
  }



/* header content */

  header .banner-img {
    padding-top: 600px;
  }

  .header-content {
    width: 100%;
    padding-top: 500px;
  }

  .header-text {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
  }

  .subhead {
    font-size: 1.1rem;
    text-align: center;
    line-height: normal;
    padding-top: 10px;
  }

  .header-body {
    font-size: 1rem;
    padding-right: 0;
    text-align: justify;
  }


/* LIST OF AMENITIES */


  .apartment-amenities {
    width: 100%;
    height: 800px;
    left: 0;
  }

  .amenities-title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
  }

  ul.amenities-list {
    line-height: 40px;
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
  }

  ul.left-bullet {
    list-style: none;
    padding-left: 0;
  }


  ul .left-side {
    padding-top: 10px;
    padding-left: 0;
    font-size: 1.2rem;
    text-align: center;
    list-style: none;

  }


  ul.right-bullet {
    list-style: none;
    padding-right: 0;
  }


  ul .right-side {
    position: relative;
    text-align: center;
    padding-left: 0;
    font-size: 1.2rem;
    list-style: none;
  }

/* footer */

  footer {
    height: auto;
  }

  footer img {
    display: block;
    margin: auto;
  }

  footer ul {
    text-align: center;
    color: white;

  }

  footer ul li {
    display: block;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.1rem;
  }

  footer ul li a {
    padding-bottom: 5px;
  }

  .footer-left {
    float: none;
    padding-left: 0;
  }

  li.footer-left-content {
    padding-right: 0;
  }

  .social-media {
    float: none;
    padding: 0;
  }

  .copyright {
    text-align: center;
  }

  .social-media h4 {
    text-align: center;
  }

  .social-icons {
    padding-bottom: 10px;
  }

  .social-icons a img{
    padding: 1px 0 0 20px;
    display: inline;
  }
}


/* TABLET STYLES */

@media only screen and (max-width: 895px) {

  /* office hours */

  aside.office-hours {
    float: none;
    padding-top: 40px;
    padding-left: 0;
  }

  .office-hours-content {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    padding-top: 5px;
  }

  .ctas {
    float: none;
    display: block;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    margin-bottom: 0;
    padding-top: 300px;
  }

  .schedule-appt {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .schedule-link {
    display: block;
    text-align: center;
    left: 0;
  }

  .apply {
    margin-top: 0;
  }

  .apply-link {
    display: block;
    text-align: center;
    left: 0;
  }

  /* header content */

  header .banner-img {
    padding-top: 600px;

  }

  .header-content {
    width: 100%;
    padding-top: 500px;
  }

  .header-text {

    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
  }

  .subhead {
    font-size: 1.1rem;
    text-align: center;
    line-height: normal;
    padding-top: 10px;
  }

  .header-body {

    font-size: 1rem;
    padding-right: 0;
    text-align: justify;
  }

  /* amenities */

  ul.left-bullet {
    list-style: none;
    padding-left: 0;
  }

  ul.right-bullet {
    list-style: none;
    padding-left: 0;
  }

}

@media only screen and (max-width: 800px) {

  /* NAVIGATION */

  nav {
    width: 100%;
    top: 0;
    padding-bottom: 30px;
    height: 91px;
  }

  a.top-logo {
    margin: 0 auto;
    display: block;
    text-align: center;
    float: none;
    padding-bottom: 20px;
    padding-left: 0;
  }

  ul.nav {
    float: none;
    display: inline;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }

  .nav li {
    display: inline;
  }

  .nav li a {
    border: 2px solid white;
    color: white;
    font-size: 15px;
    text-shadow: 1px 3px 2px black;
    display: block;
    margin-right: 0;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
  }

  .nav li a:hover {
    color: white;
  }

  .nav li a:hover {
    color: white;
    background-color: #f0e0bd;
  }

/* header content */

  .header-content {
    width: 100%;
    padding-top: 500px;
  }

/* LIST OF AMENITIES */

  .apartment-amenities {
    width: 100%;
    height: 800px;
    left: 0;
  }

  .amenities-title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
  }

  ul.amenities-list {
    line-height: 40px;
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
    margin-top: 0;

  }

  ul .left-side {
    padding-top: 10px;
    padding-left: 0;
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
  }

  ul .right-side {
    position: relative;
    text-align: center;
    padding-left: 0;
    font-size: 1.2rem;
    list-style: none;
    bottom: 2px;
  }

  ul.left-bullet {
    list-style: none;
  }

  ul.right-bullet {
    list-style: none;
  }

/* footer */

  footer {
    height: auto;
  }

  footer img {
    display: block;
    margin: auto;
  }

  footer ul {
    text-align: center;
    color: white;
  }

  .footer-left {
    float: none;
    padding-left: 0;
  }

  .social-media {
    float: none;
    padding: 0;
  }

  .copyright {
    text-align: center;
  }

  .social-media h4 {
    text-align: center;
  }

  .social-icons {
    padding-bottom: 10px;
  }

  .social-icons a img{
    padding: 1px 0 0 20px;
    display: inline;
  }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
