/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* BASE STYLES */

body {
  width: 1440px;
}

header {
  font-family: 'Times New Roman';
  font-weight: bold;
}

/* NAVIGATION */

nav {
  background-color: #be9195;
  position: absolute;
  width: 100%;
  /*width: 1694px;*/
  top: 0;
  /*padding-top: 35px;*/
  padding-bottom: 30px;

}

.top-logo {
  padding-left: 32px;
  /*padding-left: 107px;*/
  padding-top: 10px;
  /*padding-bottom: 30px;*/
  float: left;
  /*margin-top: 0;*/
  /*display: inline-block;*/
}

ul.nav {
  list-style: none;
  float: right;
  /*padding-right: 63px;*/

}

.nav li {
  display: inline;
}

.nav li a{
  text-decoration: none;
  color: #f0e0bd;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  margin-right: 32px;
  padding-top: 35px;

}


.nav li a:hover {
  color: white;
}

.top-logo, .nav {
  vertical-align: middle;
  display: inline-block;
}



/* SIDE MENU IMGS */

.side-menu {
  display: block;
  position: absolute;
  float: right;
  margin: 200px 0 0 1034px;
}

.amenities-text {
  font-family: 'Copperplate', serif;
  font-weight: regular;
  font-size: 28px;
  letter-spacing: 1px;
  color: #8d3b42;
  position: absolute;
  margin: 68px 0 0 115px;
  margin-bottom: 0;
}

.amenities-text:hover {
  color: white;
  text-decoration: underline;
}

.gallery-text {
  font-family: 'Copperplate', serif;
  font-weight: regular;
  font-size: 28px;
  letter-spacing: 1px;
  color: #8d3b42;
  position: absolute;
  margin: 68px 0 0 128px;
  margin-bottom: 0;
}

.gallery-text:hover {
  color: white;
  text-decoration: underline;
}

.floor-plan-text {
  font-family: 'Copperplate', sans-serif;
  font-weight: regular;
  font-size: 28px;
  letter-spacing: 1px;
  color: #8d3b42;
  position: absolute;
  margin: 68px 0 0 115px;
  margin-bottom: 0;
}

.floor-plan-text:hover {
  color: white;
  text-decoration: underline;
}

.amenities-img {
  width: 371px;
  height: 156px;
  margin-bottom: 20px;
}

.gallery-img {
  width: 371px;
  height: 156px;
  margin-bottom: 20px;
}

.floor-plan-img {
  width: 371px;
  height: 156px;
}

/* OFFICE HOURS */

.office-hours {
  position: absolute;
  float: right;
  right: 0;
  margin: 771px 88px 0 1020px;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  text-align: center;
  color: #8d3b42;
}

.office-hours-content {
  margin-left: 38px;
}

.office-hours-header {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 50px;
}

.ctas {
  font-family: 'Copperplate', sans-serif;
  font-weight: bold;
  margin-top: 70px;

  margin-left: 20px;

}

.schedule-link {
  text-decoration: none;
  color: #8d3b42;
  border: 3px solid #8d3b42;
  padding: 15px 30px 15px 30px;
}

.apply {
  margin-top: 55px;
}

.apply-link {
  text-decoration: none;
  color: #8d3b42;
  border: 3px solid #8d3b42;
  padding: 13px 85px 13px 85px;
}

.schedule-appt:hover {
  background-color: #8d3b42;
}

.schedule-link:hover {
  background-color: #8d3b42;
  color: white;
}

.apply-link:hover {
  background-color: #8d3b42;
  color: white;
}


/* HEADER CONTENT */

.header-content {
  margin-left: 32px;
  /*margin-left: 100px;*/
  clear: right;
}

.header-img {
  margin-top: 200px;
  border: solid 3px #be9195;
  width: 850px;
  margin-top: 200px;
}


.header-text {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 1px;
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 0;

}

.subhead {
  font-family: 'Athelas', serif;
  font-weight: lighter;
  font-size: 28px;
  font-style: italic;
  margin-top: 0;
}

.header-body {
  font-family: 'Athelas', serif;
  font-weight: normal;
  margin-top: 45px;
  line-height: 25px;
  padding-right: 500px;
  font-size: 20px;

}

/* LIST OF AMENITIES */

.apartment-amenities {
  background-color: #faf5f2;
  width: 100%;
  height: 590px;
  left: 0;
  right: 0;
  position: absolute;
  /*position: relative;*/
  padding-bottom: 680px;
  /*width: 1694px;*/
  /*z-index: 5;*/
  box-sizing: border-box;
  padding-top: 20px;
  margin-top: 150px;
}


.amenities-title {
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8d3b42;

}

.amenities-list {
  font-family: 'Athelas', serif;
  font-size: 28px;
  letter-spacing: 1px;
  color: #8d3b42;
  margin-top: 80px;


}

.left-side {
  float: left;
  margin-left: 280px;
  /*margin-left: 18%;*/

}

.right-side {
  float: right;
  margin-right: 280px;
}

/* FOOTER */

footer {
  background-color: #8d3b42;
  width: 100%;
  /*width: 1694px;*/
  clear: right;
  height: 210px;
  margin-top: 800px;
  position: absolute;
  /*bottom: -2080px;*/
}


footer img {
  /*padding-left: 107px;*/
  padding-top: 14px;
  padding-bottom: 0;


}

footer ul {
  list-style: none;
  padding: 0;


}

.footer-left {
  float: left;
  /*padding-left: 107px;*/
  padding-left: 32px;
}

footer ul li {
  display: inline;
  padding-right: 15px;
  box-sizing: border-box;
  font-family: 'Athelas', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  /*padding-top: 80px;*/

}

.footer-left-content {
  padding-top: 15px;
}

footer ul li a {
  text-decoration: none;
  color: white;

}

footer ul li a:hover {
  color: #f0e0bd;
}

.copyright {
  /*padding-left: 107px;*/
  color: white;
  font-family: 'Athelas', sans-serif;
  font-size: 15px;
}

.social-media {
  float: right;
  padding-right: 107px;
  padding-top: 40px;
}

.social-media h4 {
  font-family: 'Copperplate', serif;
  font-weight: lighter;
  font-size: 18px;
  color: white;
}

.social-icons {
  text-align: center;
}

.social-icons a img{
  padding: 1px 0 0 20px;
}

/* MOBILE STYLES */




/* TABLET STYLES */


/* DESKTOP STYLES */

@media only screen and (max-width: 1024px) {

  nav {
    width: 1440px;
  }

  .apartment-amenities {
    width: 1440px;
  }

  .office-hours {
    position: absolute;
    right: -330px;
    top: 760px;
    margin: 0;
  }

  .header-body {
    padding-right: 500px;
  }

  footer {
    width: 1440px;
  }

}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
